[project]
	description = GitExtensions is a shell extension, a Visual Studio 2008 plugin and a standalone Git repository tool.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pete Delaney (piet-delaney)
[access "refs/for/refs/*"]
	read = group user/Pete Delaney (piet-delaney)
	push = group user/Pete Delaney (piet-delaney)
	label-Code-Review = -2..+2 group user/Pete Delaney (piet-delaney)
	label-Verified = -1..+1 group user/Pete Delaney (piet-delaney)
	rebase = group user/Pete Delaney (piet-delaney)
	removeReviewer = group user/Pete Delaney (piet-delaney)
	submit = group user/Pete Delaney (piet-delaney)
[access "refs/heads/*"]
	read = group user/Pete Delaney (piet-delaney)
	create = group user/Pete Delaney (piet-delaney)
	push = +force group user/Pete Delaney (piet-delaney)
	pushMerge = group user/Pete Delaney (piet-delaney)
[access "refs/tags/*"]
	push = +force group user/Pete Delaney (piet-delaney)
	pushTag = group user/Pete Delaney (piet-delaney)
	pushSignedTag = group user/Pete Delaney (piet-delaney)
